.App {
  text-align: center;
}

@font-face {
  font-family: Amsterdam;
  src: url('../fonts/AmsterdamOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.background {
  background-image: url('/public/slott.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.info-background {
  background: url('/public/couple1.jpg') no-repeat center center/cover;
}



/* Overlay for dimming */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease-in-out;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.login-container h1 {
  font-size: 2.5rem;
  
  margin-bottom: 20px;
}

.login-input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}


.login-input {
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(83, 82, 82, 0.4);
  color: white;
  margin-bottom: 20px;
  width: 250px;
  text-align: center;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.login-button {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 1rem;
  background-color: #ee708b;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.login-button:hover {
  background-color: #eb93a6;
}

.scroll-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.background {
  font-family: 'Courier New', Courier, monospace;
}

.background .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(147, 147, 147, 0.5);
}