.information-container {
    z-index: 10;
    text-align: left;
}

.information-section {
    margin-bottom: 30px;
}

.information-section h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-family: "Amsterdam", Arial, serif;
}

.information-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-family: "Amsterdam", Arial, serif;
}

.information-section p {
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.information-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.information-section ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.information-section ul li a {
    color: #007bff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.information-section ul li a:hover {
    text-decoration: underline;
}

.information-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #222;
    font-family: "Amsterdam", Arial, serif;
}
