.register-background {
    background-image: url('/public/couple.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container {
    position: relative;
    z-index: 10;
    text-align: left;
}

.register-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Amsterdam", Arial, serif;
}

@media screen and (max-width: 768px) {
    .register-container {
        margin: 20px auto;
        padding: 15px;
        max-width: 90%;
    }

    .register-container label {
        font-size: 0.9rem;
    }

    .register-container input[type="text"],
    .register-container input[type="checkbox"] {
        font-size: 0.9rem;
        padding: 8px;
    }

    .register-container button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}

.register-container button[type="submit"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #ee708b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.register-container button[type="submit"]:hover {
    background-color: #eb93a6;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-container label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.register-container h3 {
    font-family: 'Courier New', Courier, monospace;
}

.register-container p {
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.register-container input[type="text"],
.register-container input[type="checkbox"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.register-container input:disabled {
    background-color: rgba(22, 22, 22, 0.2);
    color: #a9a9a9;
    border-color: #dcdcdc;
    cursor: not-allowed;
}

.register-container input::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #888;
    font-style: italic;
}

.register-container input[type="checkbox"]:not(:disabled):hover {
    background-color: rgba(76, 175, 80, 0.2);
    border-color: #4CAF50;
    cursor: pointer;
}

.register-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ee708b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #eb93a6;
}

.register-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.register-info-container > * {
    margin-bottom: 20px;
}

.register-info-container::-webkit-scrollbar {
    width: 8px;
}

.register-info-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.register-info-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.kids-form {
    margin-top: 20px;
}

.kid-details {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.kid-details label {
    display: block;
    margin-bottom: 5px;
}

.kids-form button {
    margin-top: 1px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #ee708b;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kids-form button:hover {
    background-color: #eb93a6;
}

.register-container label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #222;
}

.register-container .dropdown li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #222;
}

.remove-song-button {
    background: none;
    border: none;
    color: #888;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.remove-song-button:hover {
    color: #ee708b;
}
