.submitted-background {
    background-image: url('../../public/couple1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitted-container {
    display: flex;
    flex-direction: column;
    background-color: #e0dede;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.submitted-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #222;
    font-family: "Amsterdam", Arial, serif;
}

@media (max-width: 768px) {
    .submitted-container {
        margin-top: 100px;
    }

    .submitted-container h1 {
        font-size: 1.5rem;
    }
}
